login_ricoh=
pass_ricoh=
sciezka_remote=//serwer/udzial/katalog
user_smb=
pass_smb=
# Sekcja Firebird jest opcjonalna. Brak lub blad polaczenia z FB nie blokuje zapisu CSV na SMB.
FB_MODE=network
FB_HOST=127.0.0.1
FB_PORT=3050
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_DATABASE=BAZAMS_TEST
FB_CHARSET=WIN1250
FB_ROLE=
FB_LOCAL_COPY_PATH=
# Ochrona realnego importu plikow z katalogu SMB documaster.
DOCUMASTER_ALLOW_WRITES=0
# Ochrona realnego importu dziennych licznikow PrintRadar do CMAIL.
PRINTRADAR_CMAIL_ALLOW_WRITES=0
PRINTRADAR_DB_HOST=127.0.0.1
PRINTRADAR_DB_PORT=55432
PRINTRADAR_DB_NAME=
PRINTRADAR_DB_USER=
PRINTRADAR_DB_PASSWORD=
PRINTRADAR_DB_VIEW=integration.device_counter_readings
PRINTRADAR_SSH_HOST=
PRINTRADAR_SSH_PORT=22
PRINTRADAR_SSH_USER=
PRINTRADAR_SSH_IDENTITY_FILE=
PRINTRADAR_SSH_REMOTE_DB_HOST=127.0.0.1
PRINTRADAR_SSH_REMOTE_DB_PORT=5432
PRINTRADAR_TUNNEL_LOCAL_HOST=127.0.0.1
PRINTRADAR_TUNNEL_LOCAL_PORT=55432
# Raport tygodniowej kolejki REMOTE przez firmowy SMTP.
EMAIL_HOST=ksero-partner.com.pl
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER_ADDRESS=system@ksero-partner.com.pl
EMAIL_SENDER_NAME=Remote Ricoh
EMAIL_USE_SSL=false
EMAIL_USE_TLS=true
EMAIL_WEEKLY_REPORT_TO=marcin@ksero-partner.com.pl
# Opcjonalnie; brak wartosci oznacza uzycie EMAIL_WEEKLY_REPORT_TO.
EMAIL_DOCUMASTER_REPORT_TO=
EMAIL_PRINTRADAR_REPORT_TO=
